body{
    margin: 0px;
    padding: 0px;
}
.header{
    background: #1E5B0E;
    text-align: center;
    color: #fff;
    padding: 20px 10px;
}
.side-right{
    display: flex;
    margin-top: -660px;
    margin-left: auto;
    width: 300px;
    height: 100vh;
    background-color: darkgreen;
    color: white;
    justify-content: center;
    align-items: center;
    
    
    

.container{
    margin-left:20%;
    background-color:green;
    font-family:'Times New Roman';
    border-radius: 5px;
    width:500px;
    height: 260px;
    border:9px solid;
    border-bottom-left-radius: 9px;
    border-top-color: rgb(33, 134, 223);
    border-bottom-color: rgb(44, 42, 165);
    border-right-color:cyan;
    border-left-color: coral;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    
   
 
}
.iterms{
    font-size: 45px;
    color:hsl(0, 0%, 96%);
    padding-top:68px;
    display: flex;
    justify-content:center;
    
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color:white;
    text-align: center;
 }
.rightsection{
    height:100vh;
    width:10%;
    background-color: #1E5B0E;
    display: flex;

}
.rightsection p{
    margin: auto;
    color: #fff
}
